@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.calculator{
    width: 400px;
    background-color: #585f6e;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0,0.3 );
}

.calc-input{
    width: 100%;
    border: none;
    font-size: 35px;
    padding: 10px;
    background-color: #585f6e;
    color: #54b662;
    text-align: right;
} 

#ope-input{
    font-size: 20px;
    color: #fff;
}

.calc-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}

.equal{
    grid-column: span 2;
   border-radius: 50px;
}

button{
    padding: 20px;
    font-size: 25px;
    border: none;
    border-radius: 45%;
    cursor: pointer;
}

.operation{
    background-color: #54b662;
    color: white;
}
.operation:hover{
    background-color: #7bc286;
}

.history-page{
    width: 380px;
    position: absolute;
    background-color: #4daf56;
    color: white;
    padding: 18px;
    overflow-y: auto ;
    border-radius: 10px;
    height: 405px;
    display: none;
}

.active{
    display: flex;
    flex-direction: column;
}
.history-icon{
    color: white;
    font-size: 30px;
    position: relative;
    left: 2%;
    cursor: pointer;
}

.history-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
}
